// $heading-font: "Oswald", sans-serif;
$common-font: "Manrope", sans-serif;
// $common-font-size: 15px;
$common-font-color: #18191f;
$blue-color: #1b5bf7;
$header-bg-color: #fff;
$footer-bg-color: #f4f7ff;
